@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* hover underline animation for instagram logo */

.hover-underline-animate {
  display: inline-block;
  position: relative;
  color: #FF0000;
}

.hover-underline-animate:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FF0000;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animate:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

/* hover underline animation for heading */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #FF0000;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 5px;
  bottom: 15px;
  left: 330px;
  background-color: #FF0000;
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: center;
}

html {
	background-color: #000000;
	color: #FF0000;
	background-repeat: no-repeat;
	margin: 0 10px;
}

nav a {
	color: #FF0000;
	padding-left: 610px;
	padding-right: 583px;
	text-align: center;
	text-decoration: none;
}

nav a:hover {
	text-align: center;
	text-decoration: underline;
}

h1 {
	background-color: #000000;
	border: 10px ridge #FF0000;
	color: #FF0000;
	font: normal 40px 'Roboto', sans-serif;
	padding-bottom: 15px;
	padding-left: 348px;
	padding-right: 349px;
	padding-top: 15px;
	text-align: center;
	text-decoration: none;
}

h2 {
	font: normal 30px 'Roboto', sans-serif;
	padding: 15px;
	text-align: left;
}

a {
	font-size: 20px;
	color: #000000;
	text-decoration: none;
}


footer {
	background-color: #000000;
	border: 10px ridge #FF0000;
	font-size: 15px;
	color: #FF0000;
	font: normal 15px 'Roboto', sans-serif;
	margin: 0 auto 0 auto;
	text-align: center;
	text-decoration: none;
	padding: 10px;
}
